.settings{
    display: flex;
}
.settingsWrapper{
    flex: 9;
    padding: 20px;
}
.fileUpload2{
    display: none;
}
.settingsTitle{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.settingsUpdateTitle{
    font-size: 30px;
    margin-bottom: 20px;
    color: lightcoral;

}
.settingsUpdateDelete{
    color: red;
    font-size: 12px;
    cursor: pointer;
}
.settingsform{
    display: flex;
    flex-direction: column;

}
.settingsProfilePic{
    display: flex;
    align-items: center;
    margin: 10px 0;
}
.settingsProfilePic img{
    width: 70px;
    height: 70px;
    border-radius: 20px;
}
.settingsProfilePicicon{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: lightcoral;
    color: white;
    display: flex;
    align-items: center;
    margin-left: 10px;
    justify-content: center;
    cursor: pointer;

}
.settingsform label{
    font-size: 20px;
    margin-top: 20px;

}
.settingsform input{
    color: gray;
    margin: 10px 0;
    height: 30px;
    border: none;
    border-bottom: 2px solid lightgray;
    outline: none;
}
.settingsSubmit{
    width: 150px;
    align-self: center;
    border-radius: 10px;
    color: white;
    background-color: teal;
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;

}